[DISCORD]
TOKEN = 
APPLICATION_ID = 
DEFAULT_PREFIX = 

[DISCORD.WEBHOOK]
TOKEN = 
ID = 

[DISCORD.DEFAULTS]
DEFAULT_LB_SIZE = 
DEFAULT_CHANNEL = 
DEFAULT_MAX_REPLY = 
DEFAULT_WS_GUESSES = 
DEFAULT_HL_MAX_NUMBER = 

[SERVER]

[SERVER.IMAGE]
host = 
port = 

[SERVER.POSTGRESQL]
host = 
database = 
user = 
password = 

[BOTTY]
COLOUR = 
OWNER_IDS = 