[discord]
TOKEN = 
APPLICATION_ID = 
DEFAULT_PREFIX = 

[DISCORD.DEFAULTS]
DEFAULT_LB_SIZE = 
DEFAULT_CHANNEL = 
DEFAULT_MAX_REPLY = 
DEFAULT_WS_GUESSES = 
DEFAULT_HL_MAX_NUMBER = 

[SERVER]

[SERVER.MYSQL]
HOST = 
DATABASE = 
USER = 
PASSWORD = 

[SERVER.POSTGRESQL]
HOST = 
DATABASE = 
USER = 
PASSWORD = 